body{
    background: #03A9F4
}

.input{
    width: 95%;
}
.outer-wrapper{
    background: #03A9F4;
    margin: 0;
    padding: 0;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.div-dialog-header{
    background: #3f51b5;
    color: #ffffff;   
    padding: 16px 25px;
    margin-bottom: 10px;
}

.dialog-border{

}

div.dialog-content-kiri{
    width: 50%;
    float: left;
    padding: 0px 10px 0 0;
}



div.dialog-content-kanan.pdt16{
    padding: 16px 10px 0 0;
}

div.dialog-content-kanan{
    width: 50%;
    float: left;
    padding: 0 0 0 10px;
}

.input-text{
    width: 100%
}

.border{
    overflow: hidden;
    display: block;
    border: 1px solid#f0f0f0;
    padding: 10px;
    border-radius: 4px;
}

div.div50{
    width: 50%;
}

div.clear{
    margin: 5px 0;
}

div.clear-selected{
    margin-top: 16px;
}

.hiddens{
    display: none
}


/**
/* Div Table
/*
*/

div.div-table{
    display: block;
    margin: 10px 0;
}

div.div-table div.div-table-row{
   display: block;
   width: 100%;
   height: auto;
}

div.div-table div.div-table-column.center{
    text-align: center
}

div.div-table div.div-table-column.title{
    font-weight: bold;
    font-size: 12px;
    background: #f8f8f8;
    height: 32px;
    line-height: 32px;
}



div.div-table div.div-table-column{
    display: inline-block;
    width: 10%;
    padding: 0 4px;
    overflow: hidden;
}

div.div-table div.div-table-column.wdth15{
    width: 15%;
}


div.div-table div.div-table-column.wdth14{
    width: 14%;
}


div.div-table div.div-table-column.wdth12{
    width: 12%;
}

div.div-table div.div-table-column.wdth20{
    width: 20%;
}

div.div-table div.div-table-column.wdth25{
    width: 25%;
}

div.div-table div.div-table-column.wdth30{
    width: 30%;
}

div.div-table div.div-table-column.wdth35{
    width: 35%;
}

div.div-table div.div-table-column.wdth40{
    width: 40%;
}

div.div-table div.div-table-column.wdth50{
    width: 50%;
}

div.div-table div.div-table-column.wdth5{
    width: 9%;
}

div.mgpd{
    margin-bottom: 8px;
}


div.div-errors{
    background: #ff6933;
    color: #f0f0f0;
    padding: 5px;
    font-size: 12px;
    text-align: left;
    margin: 16px 0 0;
}

div.div-errors b{
    font-weight: bold
}

/* Form Login */

div.login{
    width: 678px;
    margin: 7% auto;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    background: #03A9F4;
    min-height: 350px;
}

div.login-kiri,
div.login-kanan{
    width: 50%;
    float: left;
    height: 310px;
    border-radius: 5px;
}

div.login-kiri{
    text-align: right;
    padding-right: 20px;
    color: white;
}

h1{
    font-size: 22px;
}

div.login-kanan{
    padding: 20px 20px 0;
    height: auto;
    overflow: hidden;
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 10px 2px rgba(0,0,0,0.1);
}

div.login-kanan h1{
    text-align: left;
    padding: 0 5px;
}

div.login-kanan p{
    color: #696969;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    padding: 0 5px;
    text-align: justify
}

ul.copyright{
    text-align: center;
    margin-top: 3%;
    overflow: hidden;
    display: inline-block;
    width: 50%;
    float: right;
    padding: 0 16px;
}

ul.copyright li{
    list-style: none;
    color: #ffffff;
    font-size: 12px;

}

.breadcumbs{
    background: #f2f2f2;
    padding: 0;
    font-size: 12px;
    color: #454545;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0px rgba(0,0,0,0.1)
}

.btn-link{
    background: orange
}